.footer {

  position: absolute;
  top: 150em;
  width: 93em;
  height: 10em;
  background-color: rgba(200, 200, 200, 1);

}

.footer div{

  position: relative;
  padding: 12px;
  margin: auto;
  width: 10%;
  height: 30%;
}

.contatti {

  display: flex;
  margin: auto;
  top: 20%;
  height: 15%;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;

}

#mobile{

  position: relative;
  display: none;

}

#tripadvisor {

  position: relative;
  transform: scale(0.7);

}
