.footer {

  position: relative;
  top: 15em;
  width: 98vw;
  height: 10em;
  background-color: rgba(200, 200, 200, 1);

}

.contatti {

  position: relative;
  display: flex;
  margin: auto;
  top: 4em;
  height: 15%;
  width: 12%;
  align-items: center;
  justify-content: space-evenly;

}

#mobile{

  position: relative;
  display: none;
}


#tripadvisor {

  position: relative;
  right: 3%;
  transform: scale(0.7);

}

#facebook {



}

#scrittone {

  position: absolute;
  top: 1em;
  left: 1em;

}
