#foto {

  position: relative;
  z-index: 2;
  top: 50em;
  right: 35em;
  height: 23em;
  width: 100em;
  border-radius: 10px;

}

#slideshow {

  width: 100%;
  height: 100%;
  border-radius: 10px;

}
