#foto {

  position: relative;
  z-index: 2;
  top: 50em;
  right: 45%;
  height: 50vh;
  width: 100%;
  border-radius: 10px;

}

#slideshow {

  width: 100%;
  height: 100%;
  border-radius: 10px;

}
