body {

  /*background-image: url("../images/horizontalWood.jpg");*/
  color: #000000;
}

.container{
  margin: auto;

}


.logo {

  height: 48em;
  width: 100%;

}

#logo {

  z-index: -1;
  position: absolute;
  left: 20em;
  top: 10em;
  transition: 1.5s ease;
  width: 50em;
  height: 24em;
  border: 2px solid black;
  animation: down 1.5s;
/*  animation: cartoon 1s infinite; */

}

@keyframes cartoon {

  0% { padding: 0px; }
  25% { padding: 10px; }
  50% { padding: 20px; }
  75% { padding: 10px; }
  100% { padding: 0px; }

}

@keyframes appear {

  from {opacity: }

}

@keyframes down {

  from {top: -400px;}
  to {top: 10em;}

}
