body {

  /*background-image: url("../images/horizontalWood.jpg");*/
  color: #000000;
}

.container{

  display: flex;
  margin: auto;

}


.logo {

  height: 98vh;
  width: 100%;

}

.gradient-border {

  --borderWidth: 1em;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);

}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e00, #a16600, #b87350, #ad9810);
  z-index: -2;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


#logo {

  z-index: -1;
  position: relative;
  left: 20em;
  top: 10em;
  transition: 1.5s ease;
  width: 50em;
  height: 24em;
  animation: down 1.5s;

}


@keyframes animatedgradient {

	0% { background-position: 0% 50%; }

	50% { background-position: 100% 50%; }

	100% { background-position: 0% 50%; }

}

@keyframes moveVertical {

  from { top: 13em; }
  to { top: 14em; }

}

@keyframes moveHorizontal {

  from { left: 58em; }
  to { left: 57em; }

}

@keyframes appear {

  from {opacity: }

}

@keyframes down {

  from {top: -400px;}
  to {top: 10em;}

}
